[Desktop Entry]
Type=Application
Name=Web Browser
Exec=$HOME/.local/scripts/browser.sh %u
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
